h2{
    color: rgba(255,255,255,0.8);
    font-size: 40px;
    font-weight:400;
    text-transform: uppercase;
    margin-top: 0px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
/* .image-container{
    
} */
.text{
    margin-right:5%;
    word-wrap: break-word;
}
img{
    width:294px;
    height:171px;
}
p{
    width:auto;
    word-wrap: break-word;
}